@using Microsoft.VisualBasic
@using Constants = Famyok.App.Constants

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-red-700">Welcome @Constants.Name</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@section Scripts {
    <script>
        alert(window.constants.name)
    </script>
}
